.main {
	padding-top: 60px;
}

.pushOsakaHeader {
	display: table-cell;
}

.pushOsakaDate {
	padding-left: 30px;
	color: #808080;
	text-align: right;
}

.pushOsakaCategoryIcon {
	margin-top: -40px;
}

.pushOsakaCategoryLabel {
	font-size: 15px;
	margin-top: -20px;
	text-align: right;
}

.pushOsakaTitle {
	color: black;
	font-weight: bold;
}

.pushOsaka {
	background-image: url("../img/baloon.svg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 30px;
	padding: 5px 10px 50px 10px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	width: 500px;
}

.pushOsakaInner {
	font-size: 17px;
	color: green;
	font-weight: bold;
}

.navbarOsaka {
	padding: 0;
	font-weight: bold;
}

.bodyOsaka {
	z-index: -1;
	background-image: url("../img/sora.jpg");
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.labelOsaka{
	display: inline-block;
	width: 50px;
}

.form-controlOsaka {
	display: inline-block;
	width: 160px;
}

@media screen and (max-width: 640px) {
	.pushOsaka {
		background-image: url("../img/baloon.svg");
		background-size: cover;
		background-repeat: no-repeat;
		margin-left: 30px;
		padding: 5px 10px 50px 10px;
		color: black;
		font-weight: bold;
		width: 250px;
	}
}

@media (min-width: 768px) {
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-collapse.collapse.in {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-header {
		float: right;
		width: 100%;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-form .form-group {
		display: block;
		margin-bottom: 5px;
  }
}